services:
  # --- HẠ TẦNG: KAFKA & ZOOKEEPER ---
  zookeeper:
    image: confluentinc/cp-zookeeper:7.5.0
    container_name: zookeeper
    networks:
      - data-network
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000

  kafka:
    image: confluentinc/cp-kafka:7.5.0
    container_name: kafka
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    networks:
      - data-network
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://localhost:9092,PLAINTEXT_INTERNAL://kafka:29092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_INTERNAL:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT_INTERNAL
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
    healthcheck:
      test: ["CMD", "kafka-topics", "--bootstrap-server", "localhost:9092", "--list"]
      interval: 10s
      timeout: 5s
      retries: 5
    restart: always

  # --- GIAO DIỆN QUẢN LÝ KAFKA ---
  kafdrop:
    image: obsidiandynamics/kafdrop:latest
    container_name: kafdrop
    depends_on:
      kafka:
        condition: service_healthy
    ports:
      - "9000:9000"
    networks:
      - data-network
    environment:
      KAFKA_BROKERCONNECT: kafka:29092

  # --- DATA INGESTION: PYTHON PRODUCER ---
  producer:
    build: 
      context: ../producer 
    container_name: credit-card-producer
    depends_on:
      kafka:
        condition: service_healthy
    networks:
      - data-network
    env_file:
      - ../.env
    environment:
      - PYTHONUNBUFFERED=1
      - KAFKA_SERVERS=kafka:29092
      - KAFKA_TOPIC=transactions
      - CSV_PATH=/app/transactions_source.csv
    volumes:
      - ../producer/main.py:/app/main.py
      - ../data/transactions_source.csv:/app/transactions_source.csv
    # Giữ container chạy ngầm nhưng không thực thi main.py ngay lập tức
    command: /bin/sh -c "sleep infinity"
    restart: on-failure

  # --- ORCHESTRATION: AIRFLOW ---
  airflow:
    build: 
      context: .
      dockerfile: Dockerfile.airflow
    container_name: airflow
    image: apache/airflow:2.8.1-python3.10
    user: "50000:0"
    ports:
      - "8085:8080"
    networks:
      - data-network
    depends_on:
      kafka:
        condition: service_healthy
    environment:
      - AIRFLOW__CORE__EXECUTOR=SequentialExecutor
      - AIRFLOW__CORE__LOAD_EXAMPLES=False
      - AIRFLOW__WEBSERVER__USERNAME=admin
      - AIRFLOW__WEBSERVER__PASSWORD=admin
    volumes:
      - ../dags:/opt/airflow/dags
      - ./logs:/opt/airflow/logs
      - /var/run/docker.sock:/var/run/docker.sock
    command: standalone

networks:
  data-network:
    driver: bridge